<h1>Edit Article <%= @article.id %></h1>
<% if @article.errors.any? %>
    <h3>Article could not be created:</h3>
    <ul>
        <% @article.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>    
    </ul>
<% end %>

<%= render 'form' %>

<br>
<%= link_to 'Return', articles_path%>