<h1>Articles</h1>

<%= render 'articles_table' %>

<br>
<%= will_paginate @articles %>
<br>

<% if logged_in? %>
    <br>
    <%= link_to 'Create new article', new_article_path %>
<% end %>

<br><br>
<%= link_to 'Return', '/'%>