<h1>Home page</h1>

<p>Links:</p>
<ul>
    <li>
        <%= link_to 'Articles', articles_path %>
    </li>
    <li>
        <%= link_to 'Users', users_path %>
    </li>
    <li>
        <%= link_to 'Sign Up', 'signup' %>
    </li>
    <li>
        <%= link_to 'About', '/about' %>
    </li>
</ul>
