<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Articles</th>
            <th colspan="2">Actions</th>
        </tr>
    </thead>
    <tbody>
        <% @categories.each do |category| %>
            <tr>
            <td><%= category.name %></td>
            <td><%= category.articles.count %></td>
            <td><%= button_to 'Show', category_path(category), method: :get %></td>
            <% if logged_in? && current_user.admin? %>
                <td><%= button_to 'Edit', edit_category_path(category), method: :get %></td>
            <% end %>
        <% end %>
    </tbody>
</table>