<h1>Edit Category</h1>

<% if @category.errors.any? %>
    <h3>Category could not be created:</h3>
    <ul>
        <% @category.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>    
    </ul>
<% end %>

<%= render 'form' %>

<br>
<%= link_to 'Return', categories_path%>